*{
    background-color: grey;
}

#hero-section{
    height: 48vh;
    display: flex;
}

.sec1{
    width: 50%;
    height: 100%;
}
.sec2{
    align-items:end;
}
 #vic{
    font-size: 400%;
 }

 #name{
    text-align: center;
 }
#round{
    border-radius: 50%;
    size: 8px;
    
}

.about{
    text-align: center;
    margin-top: 10%;
    padding: 15px;
}
.skills{
    text-align: center;
}
.contact{
    text-align: center;
}